@import '../../main.scss';

.wrapper {
  background: rgb(255, 218, 136);
  background: linear-gradient(
    180deg,
    rgba(255, 218, 136, 1) 15%,
    rgba(243, 135, 123, 1) 50%,
    rgba(225, 101, 114, 1) 75%,
    rgba(64, 22, 101, 1) 100%
  );

  .header {
    font-size: 23px;
    height: 20vh;
    color: white;
  }

  .footer {
    height: 20vh;
    flex-direction: column;

    .registrationButton {
      color: white;
      width: 320px;
      height: 51px;
      font-family: 'Helvetica Neue Cyr Bold';
      margin-bottom: 21px;
      font-size: 23px;
      cursor: pointer;
      border-radius: 30px;
      border: none;
      outline: none;
      background: rgb(225, 101, 114);
      background: linear-gradient(
        90deg,
        rgba(225, 101, 114, 1) 0%,
        rgba(243, 135, 123, 1) 50%,
        rgba(255, 218, 136, 1) 100%
      );
    }

    .signInButton {
      font-family: 'Helvetica Neue Cyr Roman';
      font-size: 16px;
      cursor: pointer;
      color: white;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  .header,
  .content,
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
