.content {
  height: 60vh;
  display: flex;
  flex-direction: column;

  .icons,
  .text,
  .buttons {
    display: flex;
    font-family: 'Helvetica Neue Cyr Roman';
    font-size: 13px;
    margin-bottom: 45px;

    .im {
      font-family: 'Helvetica Neue Cyr Light';
      color: white;
      font-size: 23px;
      margin-right: 25px;
    }

    .activeRoll {
      width: 91px;
      height: 45px;
      color: white;
      position: absolute;
      background: rgb(242, 83, 255);
      background: linear-gradient(
        90deg,
        rgba(242, 83, 255, 1) 0%,
        rgba(64, 22, 101, 1) 100%
      );
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-radius: 50px;
    }

    .buttonArtist {
      border-radius: 30px 0px 0px 30px;
    }

    .buttonInstitution {
      border-radius: 0px 30px 30px 0px;
    }

    button {
      outline: none;
      cursor: pointer;
      width: 91px;
      height: 37px;
      border: none;
      background-color: white;
      color: #401665;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    svg {
      margin-left: 46px;
    }
  }

  .text {
    font-family: 'Helvetica Neue Cyr Light';
    font-size: 16px;
    width: 272px;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
  }
}
